<div class="left-top">
  <div class="l-top-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="l-top-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="left-main">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>