.wrapper {
  display: flex;
}

.left-side {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.left-top {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-top-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.l-top-btn {  
  font-size: 10px;
}

.l-top-btn a {
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.left-main {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.right-side {
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.right-top {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.r-top-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.r-top-btn {
  margin-top: 40px;
}

.r-top-btn a {
  color: darkred;
  border: 1px solid darkred;
  text-decoration: none;
  padding: 20px;
}

.right-main {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding-top: 46px 40px 0px;
  overflow: scroll;
}

.messages {
  margin: 10px 0;
  padding: 0 40px;
  margin: 40px 0;
}

.upper {
  display: flex;
}

.user-name {
font-size: 16px;
color: #434a54;
padding-right: 10px;
}

.time {
  font-size: 12px;
  color: #999;
}

.message {
  font-size: 14px;
  color: #434a54;
}

.right-bottom {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}

.input-form {
  background-color: white;
  display: flex;
  width: 100%;
}

.message-form {
  border: none;
  height: 50px;
  padding-left: 10px;
  width: 100%;
}

.submit-btn {
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}